{% include 'admin_header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Disaster</title>
</head>
<body>
<!-- <style>
    
    h3,th,td{color: aliceblue;}
    p{color: aliceblue;}
    table{border: 2px solid grey ;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;background-color:#0f054c;}
        td,th{border: 1px solid grey;text-align: center;padding: 10px 20px;font-family: Arial, Helvetica, sans-serif;color: rgb(255, 255, 255);}
    
</style> -->
<center>
    <br><br><br><br><br>
    <h3>Disaster List</h3>
    <form action="" method="post">
        <table class="t">
            <tr><th>index</th>
                <th>Parameters</th>
                <th>Disaster</th>
                <th>Date</th>
                
            </tr>
            {%for i in data['disaster']%}
            <tr><td>{{loop.index}}</td>
                <td>{{i['parameters']}}</td>
                <td>{{i['disaster']}}</td>
                <td>{{i['date']}}</td>
            </tr>
            {%endfor%}
        </table>
       <br><br><br>
    </form>
    <br><br><br><br><br><br><br><br><br>
</center>
{% include 'footer.html' %}