{% include 'volunteer_head_header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Head Home</title>
</head>
<body>
<!-- <style>
    h2 {
        color: aliceblue;
    }
</style> -->

<center>
    <br><br><br><br><br><br><br><br>

    <h2>Welcome Volunteer Head</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</center>
{% include 'footer.html' %}