{% include 'volunteer_head_header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp details</title>
</head>
<body>
<!-- <style>
    
    h3,th,td{color: aliceblue;}
    p{color: aliceblue;}
    table{border: 2px solid grey ;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;background-color:#0f054c;}
        td,th{border: 1px solid grey;text-align: center;padding: 10px 20px;font-family: Arial, Helvetica, sans-serif;color: rgb(255, 255, 255);}
    
</style> -->
<center>
    <br><br><br><br><br>
    <h3>Camps</h3>
    <form action="" method="post">
        {% if data['issues']%}
        <table class="t">
            <tr><th>index</th>
                <th>Place</th>
                <th>Camp Name</th>
                <th>Place details</th>
                <th>Accomodation</th>
            </tr>
            {%for i in data['issues']%}
            <tr><td>{{loop.index}}</td>
                <td>{{i['place']}}</td>
                <td>{{i['camp_name']}}</td>
                <td>{{i['place_details']}}</td>
                <td><a href="volunteer_head_view_accomodation?camp_id={{i['camps_id']}} " class="btn btn-primary">view</a></td>
            </tr>
            {%endfor%}
        </table>
        {% else %}
        No Camps Nearby
       {%endif%}
    </form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</center>
{% include 'footer.html' %}
